---
import { formatISO } from 'date-fns';

function toISO(date: string) {
  return formatISO(new Date(date), { representation: 'complete' });
}

const posts: any[] = [];
---
{posts.map((post, index) => (
    <div class={(index === 0 ? 'mt-0' : 'mx-0 my-8') + ' no-underline'}>
        <h2 class="font-semibold mx-0 my-0 text-xl leading-8"
            style="view-transition-name: post-{post.data.title}">
            <a href={post.url}>{post.title}</a>
        </h2>
        <div class="flex flex-row flex-wrap gap-2 lowercase my-2">
            {post.date && (
                <time datetime={post.date}>{toISO(post.date)}</time>)
            }
            {post.tags && (
                <span>&middot;</span>
                <div class="flex flex-row flex-wrap space-x-1"> 
                    {post.tags.map((tag: any, index: number) => (
                        <span>
                            <a href={`/tags/${tag}`}>{{ tag }}</a>
                            {index !== post.data.tags.length - 1 && ","}
                        </span>
                    ))}
                </div>
            )}
        </div>
        <p class="mb-0 mt-1">{post.description}</p>
    </div>
))}