---
import { slugify } from '@/utils';
import type { CollectionEntry } from 'astro:content';

type Props = {
	posts: CollectionEntry<'posts'>[];
};

const { posts } = Astro.props;
---

{
	posts.map((post, index) => (
		<div class={`${index === 0 ? 'mt-0' : 'mx-0 my-8'} no-underline`}>
			<h2
				class="font-semibold mx-0 my-0 text-xl leading-8"
				style={`view-transition-name: post-${post.data.title}`}
			>
				<a href={`/posts/${post.slug}`}>{post.data.title}</a>
			</h2>
			<div class="flex flex-row flex-wrap gap-2 lowercase my-2">
				{post.data.date && (
					<time datetime={post.data.date.toISOString()}>{post.data.date}</time>
				)}
				{post.data.tags && (
					<>
						<span>&middot;</span>
						<div class="flex flex-row flex-wrap space-x-1">
							{post.data.tags.map((tag: any, index: number) => (
								<span>
									<a href={`/tags/${slugify(tag)}`}>{tag}</a>
									{index !== post.data.tags.length - 1 && ','}
								</span>
							))}
						</div>
					</>
				)}
			</div>
			<p class="mb-0 mt-1">{post.data.description}</p>
		</div>
	))
}
